<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247422761988-asu9hsk40p4gstrv98dragndkdol9pd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247422761988-asu9hsk40p4gstrv98dragndkdol9pd1</string>
	<key>API_KEY</key>
	<string>AIzaSyDBiDFG2Zu3kmYEJPZDBGWWJXjFgRe2MNk</string>
	<key>GCM_SENDER_ID</key>
	<string>247422761988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sc</string>
	<key>PROJECT_ID</key>
	<string>scdev-9d023</string>
	<key>STORAGE_BUCKET</key>
	<string>scdev-9d023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247422761988:ios:60bc64d946c7db4ff6c951</string>
	<key>DATABASE_URL</key>
	<string>https://scdev-9d023-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>